<h2> <%= @title %></h2>

 <!-- Table -->
  <table class="table table-striped" border = '1px'>
  <thead>
      <tr>
        <th>ID:</th>
        <th>User Name:</th>
        <th>Phone Number:</th>
        <th>Date Time:</th>
        <th>Barber:</th>
        <th>Color:</th>
      </tr>
 </thead>
 <tbody>
  <% @message.each do |line| %>
     <tr>
          <td><%= "#{line[0]}" %></td>
          <td><%= "#{line[1]}" %></td>
          <td><%= "#{line[2]}" %></td>
          <td><%= "#{line[3]}" %></td>
          <td><%= "#{line[4]}" %></td>
          <td style = "background-color: <%= line[5] %>"><%= "#{line[5]}" %></td>
     </tr>
  <% end %>
  </tbody>
  </table>






  


